#overall_content{
    padding-left: 10%;
    margin-top: 30px;
}
#overall_content h1{
    text-align: center;
}
#overall_content ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 40px;
}
#overall_content ul li a{
    /* UI Properties */
    letter-spacing: 0px;
    color: #58595B;
    text-decoration: none; 
    padding-right: 10px;
    text-wrap: nowrap;
}
#overall_content ul li#accounts{
    text-decoration: underline;
    text-underline-offset: 10px;
}
.overall_card_components{
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    row-gap: 30px;
}
@media only screen and (max-width: 1300px) {
    #overall_content{
        padding-left: 3%;
        padding-right: 3%;
    }
    #overall_content ul{
        margin-left: 4%;
    }
}
@media only screen and (max-width: 1200px) {
    #overall_content{
        padding-left: 7%;
        padding-right: 3%;
    }
}
@media only screen and (max-width: 1156px) {
    #overall_content{
        padding-left: 6%;
    }
    .overall_card_components{
        grid-template-columns: auto auto auto;
        margin-left: 10%;
    }
}
@media only screen and (max-width: 918px) {
    #overall_content .content_tags ul{
        display: none;
    }
}
@media only screen and (max-width: 880px) {
    .overall_card_components{
        grid-template-columns: auto auto;
        margin-left: 10%;
    }
}
@media only screen and (max-width: 666px) {
    .overall_card_components{
        grid-template-columns: auto;
        gap: 3%;
    }
}